body {
  background-image: url("./bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.overlayContainer{
  background: linear-gradient(0deg, #000000b3 30%, #000000 100%);
  height: 100vh;
}
.content {
  width: 100%;
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px;
  box-sizing: border-box;
  text-align: justify;
}

@media (min-width: 768px) {
  .content {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .content {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .content {
    width: 33.33%;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.square {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.861);
  background-color: var(--bg-color);
}

.square:hover,
.square:focus {
  background-color: red !important;
  outline: none; 
}

/* New styles for buttons */
.menu {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-warm {
  background-color: #FF5733;
}

.btn-cool {
  background-color: #33BFFF;
}

.btn-noir {
  background-color: #303030;
}


footer,
header {
  background-color: rgba(0, 0, 0, 0.752);
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0;
  align-items: center;
  margin: 0;
}


header {
  justify-content: space-between;
}
footer {
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%
}

.navi {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.icon {
  display: inline-block;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}


.linkedin-icon {
  background-image: url("https://www.linkedin.com/favicon.ico");
}


.github-icon {
  background-image: url("https://github.com/favicon.ico");
}

.gmail-icon {
  background-image: url("https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_dark_1x_r2.png");
  background-size: cover;
}
