body {
    background-image: url("./bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
  }

  .overlayContainer{
    background: linear-gradient(0deg, #000000b3 30%, #000000 100%);
    height: 100vh;
  }
  

.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.square {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.861);
}